In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk

In [57]:
df = pd.read_csv('/content/tripadvisor_hotel_reviews.csv')
df

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

In [58]:
df.shape

(20491, 2)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 320.3+ KB

In [60]:
df.describe()

             Rating
count  20491.000000
mean       3.952223
std        1.233030
min        1.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        5.000000

In [61]:
df.dtypes

Review    object
Rating     int64
dtype: object

In [62]:
# Convert â€˜Ratingâ€™ column of the dataframe to 0s (negative), 1s (neutral) and 2s (positive) according to the following criteria:

df['Rating'][df['Rating'] <= 2] = 0
df['Rating'][df['Rating'] == 3] = 1
df['Rating'][df['Rating'] >= 4] = 2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [63]:
# Deal with any missing values, incorrect domain values in any way you may want to
df.isnull().sum()

Review    0
Rating    0
dtype: int64

In [64]:
# Lower all the text.
df['Review'].str.lower()

0        nice hotel expensive parking got good deal sta...
1        ok nothing special charge diamond member hilto...
2        nice rooms not 4* experience hotel monaco seat...
3        unique, great stay, wonderful time hotel monac...
4        great stay great stay, went seahawk game aweso...
                               ...
20486    best kept secret 3rd time staying charm, not 5...
20487    great location price view hotel great quick pl...
20488    ok just looks nice modern outside, desk staff ...
20489    hotel theft ruined vacation hotel opened sept ...
20490    people talking, ca n't believe excellent ratin...
Name: Review, Length: 20491, dtype: object

In [65]:
import re

In [66]:
# Substitute all the non alphabetical characters(a-z) by â€˜ â€˜ (space).
# If there are multiple consequent spaces in the text, replace them by a single space (for example â€˜    â€˜ to â€˜ â€˜ ).

df = df.replace('[^a-z]', ' ', regex = True)
df.Review = df.Review.replace('\s+', ' ', regex=True)

In [67]:
df

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not experience hotel monaco seattle...       1
3      unique great stay wonderful time hotel monaco ...       2
4      great stay great stay went seahawk game awesom...       2
...                                                  ...     ...
20486  best kept secret rd time staying charm not sta...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside desk staff n...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking ca n t believe excellent rating...       0

[20491 rows x 2 columns]

In [68]:
import nltk

In [69]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [70]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [71]:
ps = PorterStemmer()
for i in range(len(df['Review'])):
    review = df['Review'][i]
    review = review.split()
    
# Tokenize all the Review strings (Word Tokenization)

    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    
# Remove all the tokens which are English stopword
# Stem all the words using PorterStemmer

    review = ' '.join(review)
    df['Review'][i] = review
    
# Rejoin the resulting tokens and reassign â€˜Reviewâ€™ column of the dataframe to this new processed text.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [72]:
df

                                                  Review  Rating
0      nice hotel expens park got good deal stay hote...       2
1      ok noth special charg diamond member hilton de...       0
2      nice room experi hotel monaco seattl good hote...       1
3      uniqu great stay wonder time hotel monaco loca...       2
4      great stay great stay went seahawk game awesom...       2
...                                                  ...     ...
20486  best kept secret rd time stay charm star ca n ...       2
20487  great locat price view hotel great quick place...       2
20488  ok look nice modern outsid desk staff n partic...       0
20489  hotel theft ruin vacat hotel open sept guest w...       0
20490  peopl talk ca n believ excel rate hotel n ye p...       0

[20491 rows x 2 columns]