In [2]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\yash\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: regex in c:\users\yash\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: click in c:\users\yash\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in c:\users\yash\anaconda3\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: tqdm in c:\users\yash\anaconda3\lib\site-packages (from nltk) (4.59.0)

In [22]:
import nltk

In [4]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [23]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import sklearn as skl

In [24]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [25]:
df = pd.read_csv('C:\\Users\YASH\hotel_reviews.csv')
df = df.iloc[:,1:]
df

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not experience hotel monaco seattle...       1
3      unique great stay wonderful time hotel monaco ...       2
4      great stay great stay went seahawk game awesom...       2
...                                                  ...     ...
20486  best kept secret rd time staying charm not sta...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside desk staff n...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking ca n t believe excellent rating...       0

[20491 rows x 2 columns]

In [34]:
ps = PorterStemmer()
for i in range(len(df['Review'])):
    review = df['Review'][i]
    review = review.split()
    
# Tokenize all the Review strings (Word Tokenization)

    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    
# Remove all the tokens which are English stopword
# Stem all the words using PorterStemmer

    review = ' '.join(review)
    df['Review'][i] = review
    
# Rejoin the resulting tokens and reassign ‘Review’ column of the dataframe to this new processed text.

print(df)

<ipython-input-34-340a4451a99b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Review'][i] = review

                                                  Review  Rating
0      nice hotel expen park got good deal stay hotel...       2
1      ok noth special charg diamond member hilton de...       0
2      nice room experi hotel monaco seattl good hote...       1
3      uniqu great stay wonder time hotel monaco loca...       2
4      great stay great stay went seahawk game awesom...       2
...                                                  ...     ...
20486  best kept secret rd time stay charm star ca n ...       2
20487  great locat price view hotel great quick place...       2
20488  ok look nice modern outsid desk staff n partic...       0
20489  hotel theft ruin vacat hotel open sept guest w...       0
20490  peopl talk ca n believ excel rate hotel n ye p...       0

[20491 rows x 2 columns]

In [39]:
df

                                                  Review  Rating
0      nice hotel expen park got good deal stay hotel...       2
1      ok noth special charg diamond member hilton de...       0
2      nice room experi hotel monaco seattl good hote...       1
3      uniqu great stay wonder time hotel monaco loca...       2
4      great stay great stay went seahawk game awesom...       2
...                                                  ...     ...
20486  best kept secret rd time stay charm star ca n ...       2
20487  great locat price view hotel great quick place...       2
20488  ok look nice modern outsid desk staff n partic...       0
20489  hotel theft ruin vacat hotel open sept guest w...       0
20490  peopl talk ca n believ excel rate hotel n ye p...       0

[20491 rows x 2 columns]

In [40]:
df.to_csv('text_cleaned_data.csv')